<footer>
    <div class="content">
        <div class="copyright">
            <div>Webster Bank, N.A.Member FDIC Equal Housing Lender</div>
            <div>© 2018 Webster Financial Corporation. All rights reserved.</div>
        </div>
        <div class="icons">
            <span class="icon"><i class="fab fa-facebook-square"></i></span>
            <span class="icon"><i class="fab fa-twitter-square"></i></span>
            <span class="icon"><i class="fab fa-linkedin"></i></span>
            <span class="icon"><i class="fab fa-youtube-square"></i></span>
        </div>
    </div>
</footer>