<nav>
    <div class="container">
        <ul class="nav">
            <li>
                <a href="javascript:void(0)">Summary</a>
            </li>
            <li>
                <a href="javascript:void(0)">Accounts</a>
            </li>
            <li>
                <a href="javascript:void(0)">Transfers</a>
            </li>
            <li>
                <a href="javascript:void(0)">Payments</a>
            </li>
            <li>
                <a href="javascript:void(0)">Services</a>
            </li>
            <li>
                <a href="javascript:void(0)">Support</a>
            </li>
        </ul>
    </div>
</nav>