html {
    height: 100%;
}
body {
    background: #fff;
    font-family: Arial, sans-serif;
    font-weight: normal;
    color: #0a0a0a;
    position: relative;
    height: 100%;
    min-height: 780px;
}

button {
    font-size: 1em;
    color: white;
    background: #0a57a4;
    padding: 0.6em;
    border-radius: 5px;
}

.btn-primary {
    color: white;
    background: #0a57a4;
}

a {
    color: #0a57a4;
}

.header {
    padding: 10px 0;
    height: 65px;
    line-height: 50px;
    color: #fff;
    background-color: #277cc8;
    border-bottom: 5px solid #1e5da0;
}

.header .logo {
    height: 40px;
    line-height: 40px;
}

.header .logo img {
    vertical-align: middle;
}

/* --------------------------------------------------- */
/* Navigation */

nav {
    background-color: transparent;
    background-image: url("../images/bg-nav.png");
}

nav ul {
    list-style-type: none;
    list-style-image: none;
    height: 50px;
    padding: 0;
    margin: 0;
}

nav ul {
    background-image: url("../images/bg-greynavdiv.png");
    background-repeat: repeat-y;
    background-position: top left;
    padding-left: 20px !important;
}

.nav li {
    font-family: "Foro", Arial, sans-serif;
    font-weight: lighter;
    color: #fff;
    font-size: 1em;
    display: block;
    float: left;
    background-image: url("../images/bg-greynavdiv.png");
    background-repeat: repeat-y;
    background-position: top right;
    padding-right: 20px;
    margin-right: 20px;
    width: auto;
    height: 50px;
    line-height: 50px;
    display: block;
    vertical-align: middle;
}

.nav li a {
    color: #fff;
    text-decoration: none;
}

.login {
    background-image: url("../images/homeBackground.jpg");
    background-position: top right;
    background-size: cover;
    height: 300px;
    margin-bottom: 1.1rem;
}

.login h2 {
    font-size: 2rem;
    margin: 0;
    padding: 1rem 0 1rem 0;
}

.login form {
    max-width: 350px;
}

.login .form-group {
    margin-bottom: 0.7rem;
}

.error {
    color: red;
}

/* --------------------------------------------------- */
/* Services */

.services h1 {
    text-align: center;
    padding-bottom: 1.3rem;
    font-size: 2.3rem;
}

.services h3 {
    padding-top: 0.75rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.services p {
    font-size: 0.8rem;
    line-height: 1.5em;
    margin: 0 0.5rem 0 0.5rem;
}

/* --------------------------------------------------- */
/* Dashboard */

.dashboard {
    padding-top: 1.5rem;
}

.dashboard .banner img {
    width: 100%;
    padding-bottom: 1em;
}

.dashboard .sidebar {
    vertical-align: top;
}

.dashboard .sidebar h3 {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}

.dashboard .sidebar p {
    font-size: 0.9rem;
}

.dashboard .sidebar strong {
    color: #0a57a4;
}

.dashboard .sidebar .statusBar {
    height: 1.8rem;
    border-radius: 3px;
    background-color: #277cc8;
    margin-bottom: 1rem;
    position: relative;
    padding: 0;
}

.dashboard .sidebar .statusBar .unfinished {
    float: right;
    height: 100%;
    width: 2.5rem;
    background-color: #777777;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.dashboard .sidebar .score {
    font-size: 1.5rem;
    color: #0a57a4;
    font-weight: bold;
    padding-bottom: 0.8rem;
}

.dashboard .sidebar img {
    width: 45px;
    padding-right: 5px;
}

.dashboard .sidebar section.border {
    border: 0 !important;
    border-bottom: 1px #999 solid !important;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.dashboard .sidebar section div {
    font-size: 0.9rem;
    padding-bottom: 0.2rem;
}

.dashboard table {
    width: 100%;
    border-collapse: collapse;
    border-top: 1px #dadada solid;
    margin-bottom: 2em;
}

.dashboard table th {
    border-bottom: 1px #dadada solid;
    padding: 0.5em;
    margin: 0;
    border-spacing: 0;
    border-collapse: separate;
    text-align: left;
}

.dashboard table td {
    border-bottom: 1px #dadada solid;
    padding: 0.8em;
    margin: 0;
    border-spacing: 0;
    border-collapse: separate;
    text-align: left;
}

.dashboard table label {
    padding: 0;
    margin: 0;
}

.dashboard table th h2 {
    font-size: 1.7rem;
    margin: 0;
}

.dashboard table td {
    font-size: 0.9rem;
}

.dashboard table td h3 {
    color: #1e5da0;
    font-size: 1.2rem;
    padding: 0;
    padding-bottom: 0.3rem;
    margin: 0;
}

.dashboard table th.balance,
.dashboard table td.balance {
    color: #069244;
    font-size: 1.2em;
    font-weight: bold;
    text-align: right;
}

.dashboard table th.balance {
    font-size: 1.6em;
}

.dashboard table th.balance label,
.dashboard table td.balance label {
    font-size: 0.75rem;
    font-weight: normal;
    color: #777;
    display: block;
    padding-bottom: 0.3em;
}

.dashboard table tr:nth-child(2n + 3) td {
    background-color: #f4f4f4;
}

/* --------------------------------------------------- */
/* Footer */

footer {
    height: 100px;
    background-image: url("../images/bg-nav.png");
    margin-top: 3em;
    clear: both;
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer .copyright {
    font-size: 0.7rem;
    line-height: 1.5rem;
    width: 75%;
    float: left;
    text-align: left;
    padding-top: 0.8rem;
}

footer .icons {
    width: 25%;
    float: left;
    text-align: center;
    font-size: 2.5rem;
    padding-top: 1rem;
}

footer .icon {
    padding: 0 0 0 0.6rem;
}

.content {
    vertical-align: middle;
    max-width: 1100px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}
